@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffffc9;
}

h1, h2 {
    margin: 1rem 0;
}
header {
    height: 10vh;
    background-color: rgb(109, 201, 238);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1rem;
    z-index: 3; 
}

main {
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
}



footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(32, 31, 31);
    color: aliceblue;
    padding-right: 2rem;
}

.card {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}
.mt-1{
    margin-top: 1rem;
}
